.button {
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 16px 52px;
    height: 48px;
    border-radius: 100px;
    box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);
    background-color: #ed4159;
    text-align: center;
    -webkit-appearance: none;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
  }
  
  .button:hover,
  .button:focus {
    box-shadow: 0 6px 20px 0 rgba(237, 65, 89, 0.4);
    background-color: #ffffff;
    color: #ed4159;
  }
  
  .button:active {
    box-shadow: 0 2px 10px 0 rgba(237, 65, 89, 0.5);
    background-color: #ffffff;
    color: #ed4159;
  }
  