@font-face {
    font-family: 'Gotham';
    font-weight: 900;
    src: url('../fonts/GothamPro-Black.woff2') format('woff2'), url('../fonts/GothamPro-Black.woff') format('woff');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    font-weight: 500;
    src: url('../fonts/GothamPro-Medium.woff2') format('woff2'), url('../fonts/GothamPro-Medium.woff') format('woff');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    font-weight: bold;
    src: url('../fonts/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamPro-Bold.woff') format('woff');
    font-display: swap;
    font-style: normal;
}
