
.login-form__btn {
    padding: 60px 0 12px 0;
}

.login-form__error-block {
    margin-top: 24px;
    border-radius: 4px;
    background-color: rgba(237, 65, 89, 0.25);
    font-size: 12px;
    font-weight: 500;
    color: #ed4159;
    padding: 14px;
}
