@import './fonts.css';
@import './normalize.css';
@import './button.css';
@import './textInput.css';
@import './textInput.css';
@import './userProfile.css';
@import './loginForm.css';

body {
  background-color: #ed4159;
  background-image: url(../assets/images/background/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  body {
     background-image: url(../assets/images/background/background2x/background@2x.jpg);
  }
}

.container {
  overflow: hidden;
  padding: 16px 16px 16px auto;
  max-width: 600px;
  margin: 0 auto;
}

.main {
  
}

.main__logo {
  display: block;
  width: 182px;
  height: 40px;
  margin: 43px auto 0 auto;
}

.main__logo-img {
  
}

.main__content {
  
}

.main__title {
  opacity: 0.8;
  font-family: Gotham;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #262626;
}

.main__login-form, .main__user-profile {
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  padding: 32px 24px;
  box-sizing: border-box;
  margin-top: 37px;
}


/* login-form and main__title media */
@media screen and (min-width: 768px) {
  .main__title {
    font-size: 24px;
  }

  .login-form__input-email {
    margin-top: 48px;
  }

  .login-form__input-pass {
    margin-top: 32px;
  }

  .login-form__error-block {
    margin-top: 32px;
    font-size: 14px;
    padding: 14px 16px;
  }

  .login-form__input-submit {
    margin-top: 60px;
    margin-bottom: 12px;
  }
}

.main__user-profile {

}

.user-profile {
}
