.text-input {
    display: block;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: solid 1px transparent;
    padding: 14px 16px;
    font-family: Gotham, sans-serif;
    font-weight: 500;
    color: rgba(38, 38, 38, 0.8);
    outline: none;
    -webkit-appearance: none;
    box-sizing: border-box;
}

.text-input::placeholder {
    color: rgba(38, 38, 38, 0.4);
}

.text-input:focus {
    border-color: rgba(151, 151, 151, 0.25);
}

.text-input--invalid,
.text-input--invalid:focus {
    color: #ed4159;
    border-color: #ed4159;
}

.text-input--invalid::placeholder {
    color: rgba(237, 65, 89, 0.8);
}

/* type email */
.text-input--email {
    margin-top: 32px;
    width: 100%;
}

/* type password */
.text-input--password {
    margin-top: 24px;
    width: 100%;
}
