.profile-user {
   
}

.profile-user__avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-user__avatar-img {
}

.profile-user__name {
    opacity: 0.8;
    font-size: 18px;
    letter-spacing: 0.15px;
    text-align: center;
    color: #262626;
    display: block;
    margin-top: 24px;
}

.profile-user__logout-btn {
    min-width: 145px;
    margin-top: 40px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .user-profile__avatar {
        width: 128px;
        height: 128px;
    }

    .user-profile__name {
        font-size: 28px;
        margin-top: 40px;
    }

    .user-profile__logout {
        margin-top: 56px;
    }
}
